@import "../utils/variables";
@import "../utils/mixins";

.header {
  background-image: url("/behavior-services/dist/assets/img/jared-sluyter.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 139px;

  @include respond-to(smallScreen) {
    padding-top: 20px;
  }

  @include respond-to(phoneAndTablet) {
    background-position: 62%;
    padding-bottom: 40px;
  }

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;

    @include respond-to(phoneAndTablet) {
      align-items: center;
      flex-direction: column;
    }

    & > img {
      @include size(364px, 29px);

      @include respond-to(phoneAndTablet) {
        margin-top: 35px;
        order: 2;
      }

      @media screen and (max-width: 364px){
        @include size(100%, auto);
      }
    }
  }

  &__title {
    letter-spacing: 1.7px;
    line-height: 1.65;
    margin-bottom: 5px;
    @include size(36%);
    @include text(#ffffff, rem(48), bold, 1px 1px 0 rgba(0, 0, 0, 0.5));

    @media screen and (min-width: 1024px) {
      margin-top: 141px;
    }

    @include respond-to(phoneAndTablet) {
      font-size: rem(40);
    }

    @include respond-to(smallScreen) {
      @include size(100%);
    }
  }

  &__description {
    line-height: 30px;
    margin-bottom: 41px;
    @include size(40%);
    @include text(#ffffff, rem(18), 400, 1px 1px 0 rgba(0, 0, 0, 0.5));

    @include respond-to(phoneAndTablet) {
      @include size(50%);
    }

    @include respond-to(smallScreen) {
      @include size(100%);
    }
  }

  &__help {
    background-color: #e1aa6e;
    border: none;
    box-shadow: 0 10px 0 0 rgba(186,142,91,1);
    cursor: pointer;
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 14px;
    text-transform: uppercase;
    @include size(285px);
    @include text(#ffffff, rem(20), 400);

    @include respond-to(phoneAndTablet) {
      @include size(40%);
    }

    @include respond-to(smallScreen) {
      @include size(80%);
    }
  }
}

.menu {
  display: block;
  margin-top: 0;
  padding-left: 0;

  & li {
    display: inline-block;
    position: relative;
    z-index: 100;

    &:first-child {
      margin-left: 0;
    }

    & a {
      padding: 6px 14px;
      display: block;
      transition: all 0.2s ease-in-out 0s;
      text-transform: uppercase;
      @include text(#ffffff, rem(16), 400, 1px 1px 1px rgba(0, 0, 0, 0.35));
    }
  }

  & ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;

    &:after {
      bottom: 100%;
      left: 20%;
      transform: rotateZ(90deg);
      @include pseudo-element();
      @include size(0, 0);
    }

    & li {
      display: block;
      float: none;
      background: none;
      margin: 0;
      padding: 0;

      & a {
        font-size: rem(12);
        font-weight: normal;
        display: block;
        color: #797979;
        background: #fff;
      }
    }

    & ul {
      left: -165%;
      top: 0;
      visibility: hidden;
      opacity: 0;
      transform: translate(20px,20px);
      transition: all 0.2s ease-out;

      &:after {
        left: 100%;
        top: 10%;
        transform: rotate(180deg);
        @include pseudo-element();
        @include size(0, 0);
      }
    }
  }
}

.menu li a:hover, .menu li:hover>a .menu ul li a:hover, .menu ul li:hover>a {
  color: #fff;
  background: #00b5d2;
}

.menu li:hover>ul, .menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: #367ab7;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 768px) and (max-width: 979px) {
  .menu ul {
    top: 27px;
  }

  .menu li a {
    font-size: rem(12);
  }

  .sub-menu > li > ul {
    left: -201%;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;

    & li {
      display: block;
      margin: 0;

      & a {
        background: #fff;
        color: #797979;
      }
    }

    & ul {
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      transform: initial;

      & ul {
        left: 0;
        transform: initial;

        &:after {
          left: 20px;
          top: -6px;
          transform: rotateZ(90deg);
          @include pseudo-element();
          @include size(0, 0);
        }
      }
    }
  }

  .responsive-menu {
    display: block;
  }

  nav {
    position: relative;
    margin: 0;
    text-align: center;
    width: 50%;
  }

  .menu li a:hover,.menu li:hover>a {
    background: #00b5d2;
    color: #fff;
  }

  .menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    transform: initial;
  }

  .menu li>ul ul:hover {
    transform: initial;
  }

  .sub-menu ul {
    background-color: rgba(0,0,0,0.1);

    & li a {
      background-color: unset;
    }
  }
}

.menu > li > ul {
  width: 100%;
}
